

body {

    background-image: url('../img/BG.png');
    background-repeat: no-repeat;
    background-size: cover;

    padding: 55px;

}

* {
  /* IE */
  /*filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);*/

  /* Chrome, Safari */
  /*-webkit-filter: grayscale(1);*/

  /* Firefox */
  /*filter: grayscale(1);*/
}

* {
    color: #6B6B6B;
}

*, *:before, *:after {
	margin: 0;
	padding: 0;

	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-ms-box-sizing: border-box !important;
	box-sizing: border-box !important;
}


@media (min-width: 1200px) {
    .container {
        width: 960px;
    }
}

.container {
    /*position: fixed;*/
    background-color: #FEFEFE;
    /*background-image: url('../img/wave.png');*/
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;

    margin: 0 auto;
    /*min-height: 100%;*/

    text-align: center;

    padding-bottom: 20px;

    -webkit-box-shadow: 0 15px 35px -10px black;
    -moz-box-shadow: 0 15px 35px -10px black;
    box-shadow: 0 15px 35px -10px black;

    border-radius: 25px;

    min-height: 600px;
}

.col-left {
    border-right-style: inset;
    border-right-width: 2px;
}

table tr td center div {
    color: white;
}

.form-line {
    margin: 16px 0px 0px 0px;
}

.input {

    background-color: transparent;
    width: 100%;

    height: 36px;

    border: 1px solid #CCCCCC;
    border-radius: 20px;

    /*background-image: url('../img/icon/png/name.png');*/
    background-position: 10px 10px;
    background-size: 16px;
    background-repeat: no-repeat;
    opacity: 0.50;
    padding: 0px 15px;

    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.input:focus {
    outline: none;

    opacity: 0.65;

    border: 1px solid #888888;
}

.img-input {
    width: 28px;
    height: 28px;
    padding: 4px;
    margin-right: 4px;

    opacity: 0.6;
}





.button {
    font-size: 15px;

    outline: none;
    background: #FFFFFF;
    border-width: 3px;
    color: #F90000;

    margin-top: 20px;
    height: 38px;
    min-width: 225px;
    border-color: #F90000;
    border-radius: 20px;

    text-shadow: none;
}

.button:hover {
    background: #DE2009;
    color: #EEEEEE;
}

.button:active {
    background: #DE2009;
    color: #EEEEEE;
}




.button.sm {
    font-size: 15px;

    outline: none;
    background: #FFFFFF;
    border-width: 1px;
    color: #F90000;

    margin-top: 20px;
    height: 28px;
    min-width: 125px;
    border-color: #F90000;
    border-radius: 20px;

    padding: 0px;

    text-shadow: none;
}




.button.lg {
    outline: none;
    background: #DE2009;
    border-width: 2px;
    color: #EEEEEE;

    font-size: 18px;

    margin-top: 20px;
    height: 70px;
    min-width: 220px;
    border-color: #F90000;
    border-radius: 35px;

    text-shadow: none;
}

.button.lg:hover {
    background: #C60000;
}





.carousel-indicators li {
    max-width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #D8D8D8;
}

.carousel-indicators .active {
    background-color: #DD0000;
}


.modal-content {
    border-radius: 25px;
    border-color: transparent;
    /*padding: 0px 15%;*/
}





div.terms {
    height: 250px;
    /*width: 350px;*/
    border: 1px solid #B8B8B8;
    border-radius: 8px;
    background: #FFFFFF;
    padding: 6px;
    overflow: auto;
    margin: 0% 5%;
}

label {
    font-weight: 400;
}


a, a:visited {
    color: #6B6B6B;
    border-bottom: 1px solid #6B6B6B;
    text-decoration: none;
}

a:hover {
    color: #F90000;
    border-bottom: 1px solid #F90000;
    text-decoration: none;
}

a.red {
    color: #FC000D;
    text-decoration: none;
    border-bottom: 1px solid #FC000D;
}

a.red:hover {
    color: #DE2009;
    border-bottom: 1px solid #DE2009;
    text-decoration: none;
}


a.carousel-control-next, a.carousel-control-next:hover, a.carousel-control-prev, a.carousel-control-prev:hover {
    border-bottom: 0px;
}

.div-input {
    display: inline-flex;
    width: 100%;
}


/* mobile size 360 */
@media (max-width: 419px) {
    body {
        padding: 10px;
    }

    div.terms {
        margin: 0px;
    }

    .col-md-6 {
        padding: 0px;
    }

    .modal-dialog {
        max-width: 600px;
    }
    .modal-content {
        padding: 10px;
    }
    #modal-ads .modal-content {
        background: transparent;
    }
    #carousel-modal-ads-pc-container {
        display: none;
    }
    #carousel-modal-ads-mobile-container {
        display: inline;
    }

}
@media (min-width: 420px) {
    #carousel-modal-ads-pc-container {
        display: inline;
    }
    #carousel-modal-ads-mobile-container {
        display: none;
    }

}
@media (max-width: 767px) {
    #panel-left {
        min-height: 0px;
    }

    #img-logo {
        height: 48px;
        margin: 10px 0px;
        width: 132px;
    }

    #language-large {
        display: none;
    }

    #text-hi {
        display: none;
    }

    .code-img {
        width: 60%
    }

    .logo-full-col {
        width: 45%;
    }

    .col-left {
        border-right-style: none;
        border-right-width: 0px;

        border-bottom-style: inset;
        border-bottom-width: 2px;
    }

    .show-on-mobile-size {
        display: inherit;
    }
    .hide-on-mobile-size {
        display: none;
    }

    .page {
        margin-top: 0px;
    }

    .col-md-6.left {
        width: 55%;
    }

    .col-md-6.right {
        width: 45%;
    }

    .col-md-8.left {
        width: 66%;
    }

    .col-md-4.right {
        width: 33%;
    }

    .modal-dialog {
        /*padding: 10px;*/
    }
    .modal-content {
        /*//max-width: 516px;*/
        /*//max-height: 780px;*/
        /*padding: 0px;*/
    }
    .modal-body {
        /*padding: 0px;*/
    }

    .button {
        outline: none;
        background: #DE2009;
        color: #EEEEEE;

        border-color: #DE2009;

        text-shadow: none;
    }


    #foorter-ads-mobile {
        display: inline;
    }
    #foorter-ads-pc {
        display: none;
    }
}
/* ipad, pc */
@media (min-width: 768px) {
    #panel-left {
        min-height: 350px;
    }

    #img-logo {
        width: 70%;
    }

    .code-img {
        width: 100%
    }

    .logo-full-col {
        width: 22%;
    }

    .show-on-mobile-size {
        display: none;
    }
    .hide-on-mobile-size {
        display: inherit;
    }

    .page {
        margin-top: 40px;
    }

    #foorter-ads-mobile {
        display: none;
    }
    #foorter-ads-pc {
        display: inline;
    }
}

@media (max-width: 992px) {
    #table-wraper {
        margin: 0% -3% 0% -10%;
    }

    .content {
        padding: 1% 2%;
    }
}
@media (min-width: 992px) {
    #table-wraper {
        margin: 0% 10%;
    }

    .content {
        padding: 1% 5%;
    }

    .col-md-6.left {
        width: 50%;
        padding-right: 8px !important;
    }

    .col-md-6.right {
        width: 50%;
        padding-left: 8px !important;
    }

    .img-back {
        margin: 0px 40px 0px 0px;
    }
}


@media (min-width: 481px) and (max-width: 991px) {
    .inner-container {
        padding-top: 10%;
    }
    .img-back {
        margin: 0px 10px 0px 0px
    }
}
